# Airflow
airflow/logs/
airflow/plugins/

# Databases
neo4j/

# Python
**/__pycache__/

# IDE
.metals
.vscode

# Temp Docker-Compose
airflow-compose.yml
spark-compose.yml
tmp-compose.yml

# Data
data/**/*.json